body{
	background: black;
	width: 100%;
	height: 100%;
}
nav{
	background: goldenrod;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.link{
	text-decoration: none;
	font-size: 35px;
	color: snow;
	font-family: ubuntu;
	margin: 20px;
}

.link:hover{
	font-weight: bolder;
}
.nussin{
	margin-top: 40px;
	border: 3px solid darkgoldenrod;
	width: 30%;
	height: 70%;
	color: snow;
	text-align: center;
	font-size: 40px;
	margin: 30px;
}

img{
	width: 40%;
	margin: auto;
	border-radius: 60px;
}
#saraki{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	flex-wrap: wrab;
}

footer{
	background-color: goldenrod;
	height: 35px;
	text-align: center;
	margin: 70px;
	color: snow;
	font-size: 30px;
}